body{   
    background-color: rgb(4, 252, 24);
    color: rgb(8, 90, 36); text-align: center;
}
    nav{
        text-align: center;
    }
nav a{
   color: rgb(4, 58, 8);
   text-decoration: none;
}
